<% provide(:title, 'About Us') %>
<body id="about" class="wraparound">
	<covers><%= link_to image_tag("http://i46.tinypic.com/289g6zo.jpg")%></covers>
	<kiido><center>About Us</center></kiido>
<div>
<gian>
<%= link_to image_tag("http://i45.tinypic.com/2n69r1h.jpg")%>
<p><b>Gian Javelona</b></br>19 years old, CEO of OrangeApps.<br>
Software developers, visionary  and dreamer.</p></gian>
<paulo>
<%= link_to image_tag("http://i47.tinypic.com/wjigph.jpg")%>
<p><b>Paulo Benologa</b><br>18 years old, CTO of OrangeApps. <br>
Software engineer and computer game whiz.</p>
</paulo>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<paragraph>

<b>OrangApps</b> is a young, fresh and dynamic start-up company founded by <b>Gian Scottie Javelona</b>, a 19 year-old college student from <i>Polytechnic University of the Philippines</i> along with his co-founder, 18 year-old <b>Paulo Benologa.</b> 

We started creating software application programs as a game to challenge ourselves if we could develop efficient and effective solutions and find ways to do things at a speed we never thought possible. That challenge gave birth to our company.


At OrangeApps, our focus is to create new ideas and come up with innovative and relevant information technology products. We aim to build products and services that can be deeply integrated with every device people want to use.

Our brainchild, <i>The Pup Mobile Portal</i> is a gateway for online content application for Android mobile devices that caters to the students, faculty, alumni and guest of Polytechnic University of the Philippines.


</paragraph>
</div>
</body>