<% provide(:title, 'Help') %>
<h1>Help</h1>
<b>Features:</b>
<ul>
<li><b>Private Message</b></li>
  - Type "to" then "username" then your message *Note you can only send message to those people if both of you are admiring each other.
<li><b>Admire People</b></li>
  - click the user you want to admire and click admire.
<li><b>Profile page</b></li>
  - People will not see the list of persons that you admire but they will see how many posts you have and the people that admire you.
<li><b>Home</b></li>
  - You can post just like Tweeting or posting on Facebook.
<li><b>Users</b></li>
  - You can see all the Pupians in this section and you can admire them whenever you want.
<li><b>Settings</b></li>
  - In this section you can update your Primary Photo and your Personal information.
<li><b>Social Rating</b></li>
  - We have a new feature that ranks your social status by the number of admirers you have. For starting users with less than 100 admirers they are ranked as "Kiido" but as soon as you start gathering admirers your social rating goes up. It's up to you to find out the next levels of our Social Rating :)
</ul>
</p>
