<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
  	<%= image_tag @user.image_url, :size => "300x300", :id=>"profilepicture", :title=> "Do i look good? Yes? Awww yeah!"   %></br>
  </br>
    </br>
    <%= form_for @user, :html => {:multipart => true} do |f| %>
      <%= render 'edit_fields', :f => f %>
      <red>Fields marked with * can't be blank</red>
      </br>
      </br>
      <%= f.submit "Update", :class=> "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
