<body>
  <div id="alignments"> 

  <center><img src="http://i46.tinypic.com/2cmt2lx.png"/></center>
  <div id="image"><a href="#"/> <img src="http://i49.tinypic.com/1eudnc.png" class="grayscale"/></a></div>
</div>
<div id="alignment">
<div class="rows">
  <div class="span4 offset3">
    <h1><b>Kiido.ph is under Awesome maintenance will be back soon :)</b></h1>

 </div>
  </div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
    </div>
    </body>

