<a href="<%= user_path(current_user) %>">
<center>  <%=image_tag current_user.image, :size => "250x250", :id=>"profilepicture", :title=> "You look amazing!" %> </center>
<h1><center>@<%= current_user.username %></center></h1>
</a>
