<% if signed_in? %>
<% else %>
<footer class="footer">
  <small>
    Copyright
    <x>2013</x> <a href="http://orangeapps.weebly.com/" target="_blank"> OrangeApps</a><x>, All rights reserved.</x>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <!--li><%= link_to "Contact", contact_path %></li-->
      <li><a href="http://orangeapps.weebly.com/news" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>
<% end %>